.homepage {
  display: flex;
  flex-direction: column;
  margin-top: -22rem;
  margin-left: -5rem;
}

.container h1 {
  color: white;
  position: absolute;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  margin-top: -49.5rem;
  margin-left: 1rem;
  font-weight: 200;
}

.container h2 {
  color: #a8978c;
  position: absolute;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  margin-top: 5rem;
  font-weight: 200;
}

.container img {
  margin-top: 23rem;
}

.about {
  margin-top: 4rem;
  margin-left: -4rem;
  margin-bottom: 4rem;
}

.container ul li {
  font-size: 30px;
  font-weight: 100;
}

.container ul {
  padding-top: 11rem;
  padding-bottom: 3rem;
}

.container li {
  font-size: 30px;
  margin-left: -4rem;
  font-weight: 100;
}

@media all and (max-width: 500px) {
  .about p {
    font-size: 24px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    position: relative;
    /* background-image: url(../../images/homepage.png); */
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .container h1 {
    color: white;
    position: absolute;
    font-family: Lato;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: left;
    margin-right: auto;
    margin-top: 2rem;
  }
}
