.homepage {
  display: flex;
  align-items: center;
}

.container {
  margin-top: 1rem;
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/homepage.png);
}
