.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(../../images/homepage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.container h1 {
  color: white;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  margin-left: 25rem;
  margin-top: 24rem;
  font-weight: 200;
}

.about h2 {
  color: #a8978c;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  font-weight: 200;
  padding-top: 5rem;
  padding-left: 5rem;
}

.about ul li {
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 3rem;
  list-style: none;
}

.about ul {
  padding-left: 6rem;
  padding-right: 6rem;
}

.about li {
  font-size: 30px;
  font-weight: 100;
}

@media all and (max-width: 500px) {
  .about p {
    font-size: 24px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    position: relative;
    background-image: url(../../images/homepage.png);
    background-position: center;
    margin: 0;
    overflow-x: hidden;
  }

  .container h1 {
    color: white;
    font-family: Lato;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: left;
    margin-left: 3rem;
    margin-top: 13rem;
    font-weight: 200;
  }
  .img {
    height: 50vh;
    width: 100%;
  }

  .about h2 {
    color: #a8978c;
    font-family: Lato;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 200;
    margin-top: -3rem;
    margin-left: -15rem;
  }

  .about ul li {
    font-size: 15px;
    font-weight: 200;
    margin-right: -4em;
  }

  .about ul {
    margin-left: -4rem;
  }
}
