.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9rem;
}

.delete_btn {
  display: flex;
  border-radius: 10px;
  border: 1px #a8978c;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: color 250ms;
  background-color: #a8978c;
  padding-left: 2rem;
}
