.gratitude {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}

.gratitude h1 {
  display: flex;
  flex-direction: column;
}

.gratitude_box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 450px;
  height: 200px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #555;
  background-color: #ffffff;
}

.gratitude_box > form {
  flex-direction: column;
}

.gratitude_input {
  padding: 26px;
  display: flex;
}

.gratitude_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.gratitude_btn {
  display: flex;
  border-radius: 10px;
  border: 1px #bfd3da;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 3.5em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: color 250ms;
  background-color: #bfd3da;
  padding-left: 0.5rem;
}

@media all and (max-width: 500px) {
  .gratitude {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
  }
  .gratitude_box {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 250px;
    height: 150px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #555;
    background-color: #ffffff;
  }
  .gratitude_input {
    margin-left: -2em;
    margin-right: -2.5em;
    display: flex;
  }

  .gratitude_input > input {
    flex: 1;
    margin-left: 5px;
    font-size: 16px;
    border: none;
  }

  .gratitude_btn {
    display: flex;
    border-radius: 10px;
    border: 1px #a8978c;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 0em;
    margin-left: 4em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    cursor: pointer;
    transition: color 250ms;
    background-color: #a8978c;
  }
}
