.sidebar {
  max-width: 30%;
}

ul li {
  display: flex;
  padding: 20px;
  margin-right: 7rem;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

i {
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: black;
}

.sidebar-logo {
  padding-bottom: 20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: black;
}

a:hover {
  color: #b2aaa9;
}
