.register__page {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__container {
  display: flex;
  height: 65vh;
  box-shadow: 0px 4px 20px #555;
  border-radius: 10px;
  overflow: hidden;
  width: 700px;
}

.register__img {
  width: 50%;
  background-image: url(../../images/grateful-sign.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  object-fit: contain;
}

.registerform__container {
  padding: 0 20px;
  display: flex;
  width: 50%;
  align-items: center;
}

.register__wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #ffffff;
}

form {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.register__email,
.register__username .register__password .confirm__password {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.register__username {
  width: 100%;
  margin-bottom: 15px;
}
.register__email {
  width: 100%;
  margin-bottom: 15px;
}

.register__password {
  width: 100%;
  margin-bottom: 15px;
}

.confirm__password {
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.registerbtn {
  border-radius: 7px;
  border-color: #a8978c;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: color 250ms;
  background-color: #a8978c;
}

.submit:hover {
  color: #383838;
}

@media all and (max-width: 750px) {
  .register__wrapper {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  .registerform__container {
    width: 50%;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 500px) {
  .register__page {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register__container {
    display: flex;
    height: 65vh;
    box-shadow: 0px 4px 20px #555;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
  }
  .register__wrapper {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #ffffff;
  }

  .register__img {
    background-image: url(../../images/grateful-sign.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    object-fit: contain;
    width: 0%;
  }
  .registerform__container {
    width: 100%;
    display: flex;
    padding: 0 0px;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 400px) {
  .register__container {
    display: flex;
    height: 75vh;
    box-shadow: 0px 4px 20px #555;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
  }
  .register__email,
  .register__username .register__password .confirm__password {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .register__wrapper {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #ffffff;
  }
  h1 {
    margin: 5px;
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
