html {
  font-size: 92.5%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  font: 1rem helvetica;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
}

.Main {
  display: flex;
  justify-content: space-between;
  margin: 12px 12px;
}

/*Sidebar_Area*/

.Sidebar_Area {
  width: 20%;
  display: grid;
  height: 40rem;
}

/*Main_Area*/
.Main_Area {
  width: 80%;
  display: grid;
  height: 40rem;
}

.Footer {
  margin-top: auto;
}
