.nav {
  padding-top: 2rem;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.nav-logo {
  flex: 1;
  top: 5px;
  align-items: left;
  object-fit: contain;
  margin-top: 0.3rem;
  margin-left: 2rem;
}

.nav-links {
  padding-right: 2rem;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.logout {
  padding-top: 0.5em;
  padding-right: 15px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.notifications {
  padding-right: 15px;
}

.nav_authlink {
  padding: 30px;
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
}

.login {
  padding-right: 1rem;
}

.nav_register {
  padding-right: 10px;
  padding-left: 15px;
}

.nav_logout {
  padding-right: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #bfd3da;
}

@media all and (max-width: 500px) {
  .nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
  }
  .nav_logo {
    flex: 1;
    top: 5px;
    align-items: left;
    width: 120px;
    object-fit: contain;
    margin-left: -15px;
  }
  .nav-links {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: -5rem;
  }
  .nav_authlinks {
    padding: 25px;
    font-family: Lato;
    font-weight: lighter;
    font-size: 12px;
  }
  .dashboard {
    padding-right: 10px;
  }

  .logout {
    padding-top: 0.5em;
    padding-right: 15px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}
